config_opts['root'] = 'epel-7-x86_64'
config_opts['target_arch'] = 'x86_64'
config_opts['legal_host_arches'] = ('x86_64',)
config_opts['chroot_setup_cmd'] = 'install @buildsys-build scl-utils-build tfm-build'
config_opts['dist'] = 'el7'  # only useful for --resultdir variable subst
config_opts['releasever'] = '7'

config_opts['yum.conf'] = """
[main]
keepcache=1
debuglevel=2
reposdir=/dev/null
logfile=/var/log/yum.log
retries=20
obsoletes=1
gpgcheck=0
assumeyes=1
syslog_ident=mock
syslog_device=

[foreman]
name=Foreman SCL
baseurl=https://fedorapeople.org/~domcleal/foreman/tfm_repo/
enabled=1
gpgcheck=0

#[katello]
#name=Katello Nightly
#baseurl=http://koji.katello.org/releases/yum/katello-nightly/katello/RHEL/7Server/x86_64/
#enabled=1
#gpgcheck=0

[local-katello]
name=Test RPMs Repository for Katello
baseurl=file:///tmp/test_scl_repo/
enabled=1
gpgcheck=0

#[ruby193-scl]
#name=Local Ruby193 SCL
#baseurl=file:///tmp/local_ruby193_scl_repo/
#enabled=1
#gpgcheck=0

[ruby-scl]
name=Ruby SCL
baseurl=https://www.softwarecollections.org/repos/rhscl/ruby193/epel-7-x86_64/
#baseurl=https://copr-be.cloud.fedoraproject.org/results/rhscl/ruby193-el7/epel-7-x86_64/
enabled=1
gpgcheck=0

[v8-scl]
name=V8 SCL
baseurl=https://www.softwarecollections.org/repos/rhscl/v8314/epel-7-x86_64/
#baseurl=https://copr-be.cloud.fedoraproject.org/results/rhscl/v8314-el7/epel-7-x86_64/
enabled=1
gpgcheck=0

# repos
[base]
name=BaseOS
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=os
failovermethod=priority
gpgkey=file:///etc/pki/mock/RPM-GPG-KEY-CentOS-7
gpgcheck=1

[updates]
name=updates
enabled=1
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=updates
failovermethod=priority
gpgkey=file:///etc/pki/mock/RPM-GPG-KEY-CentOS-7
gpgcheck=1

[epel]
name=epel
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-7&arch=x86_64
failovermethod=priority
gpgkey=file:///etc/pki/mock/RPM-GPG-KEY-EPEL-7
gpgcheck=1

[extras]
name=extras
mirrorlist=http://mirrorlist.centos.org/?release=7&arch=x86_64&repo=extras
failovermethod=priority
gpgkey=file:///etc/pki/mock/RPM-GPG-KEY-EPEL-7
gpgcheck=1

[testing]
name=epel-testing
enabled=0
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=testing-epel7&arch=x86_64
failovermethod=priority


[local]
name=local
baseurl=http://kojipkgs.fedoraproject.org/repos/epel7-build/latest/x86_64/
cost=2000
enabled=0

[epel-debug]
name=epel-debug
mirrorlist=http://mirrors.fedoraproject.org/mirrorlist?repo=epel-debug-7&arch=x86_64
failovermethod=priority
enabled=0
"""
